@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  position: absolute;
  background: transparent;
  font-size: 22px;
  z-index: 1;
  color: white;
  left: 35%;
  top: 60px;
  text-shadow: 2px 2px black;
  font-family: Josefin Sans, serif;
}

.header div {
  font-family: Pacifico, cursive;
  font-size: 72px;
}
